html {
    margin: 0;
    font-family: Cantarell sans-serif;
    font-weight: 1000;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.91);
    color: aliceblue;
}

hr {
    width: 100rem;
    color: rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
}

.home-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-image: url("../images/image-home.jpg");
}

.home-icon {
    width: 40rem;
    top: 4rem;
    left: 4rem;
    position: absolute;
    transform: translate(-50%, -50%); /* Centre le texte sur l'images */
    color: white; /* Changez la couleur pour qu'elle ressorte sur l'images */
    z-index: 1; /* Assure que le texte soit au-dessus de l'images */
}

.program-icon {
    width: 40rem;
    top: 4rem;
    left: 4rem;
    position: absolute;
    transform: translate(-50%, -50%); /* Centre le texte sur l'images */
    color: white; /* Changez la couleur pour qu'elle ressorte sur l'images */
    z-index: -1; /* Assure que le texte soit au-dessus de l'images */
}

.program-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;

}

a {
    color: aqua;
}

@media screen and (max-width: 1080px) {
    .home-icon {
        width: 50%;
        top: 3rem;
        left: 3rem;
    }
}

.image-home {
    width: 40rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.display-home {
    margin-top: 60rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.home-sous-titre {
    margin: 0 10%;
    text-align: center;
    font-size: 2rem;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 2rem;
    right: 2rem;
    width: 40rem;
    z-index: 2;
}

.login-button {
    padding: 2%;
    text-decoration: none;
    border: #012323 1px solid;
    background: #045353;
    color: aliceblue;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
}

.list-button, .program-button, .admin-button {
    padding: 2%;
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}

.login-box, .admin-box, .admin-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("../images/image-home.jpg");
    margin: 0 auto;
    height: 53rem;
    width: 98%;
}

.login-form, .admin-form, .admin-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: aliceblue 2px solid;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    height: 30rem;
    width: 50rem;
    margin: auto;
}

#email, #password {
    margin: 0 auto 5%;
    height: 2rem;
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: white 2px solid;
    outline: none;
    font-size: 16px;
    color: aliceblue;
}

#submit-button {
    background: white;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    border: 2px solid transparent;
    transition: 0.3s ease;
    width: 50%;
    margin: 0 auto;
}

.login-text, .admin-text, .admin-menu-header {
    color: aliceblue;
    margin: 0 auto 5%;
}

.login-home-button, .create-acc-home-button {
    text-decoration: none;
    font-weight: bolder;
    color: aliceblue;
    width: 50%;
    margin: 2% auto;
    text-align: right;
}

.login-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    font-size: 3rem;
}

.login-error-message {
    text-align: center;
    color: red;
}

.error-home-button {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}

.error-home-button:hover {
    color: darkred;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 1rem 4rem;
}

.filter-display {
    display: flex;
    flex-direction: row;
}

.toggle-button {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: 900;
}

.toggle-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.filtersDate, .filtersLieu, .filtersGenre {
    display: none; /* Masqué par défaut */
}

.filtersDate.active, .filtersLieu.active, .filtersGenre.active {
    display: block; /* Affiché lorsqu'il est actif */
}

.filtersDate.active ul, .filtersLieu.active ul, .filtersGenre.active ul {
    display: flex; /* Affiché lorsqu'il est actif */
    flex-direction: row;
}

.filtersbutton {
    background: rgba(0, 0, 0, 0.1);
    color: aliceblue;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin: 1rem;
    padding: 0.5rem;
}

.soiree {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.soiree-infos {
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    width: 40%;
}

.display-home-spectacles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem auto;
}

.spectacle {
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
    margin: 2% 5%;
    text-align: center;
    padding: 2%;
}

.spectacles {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.display-soiree {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 2% auto;
    text-align: center;
    padding: 2%;
    width: 40%;
}

.display-soiree .spectacle {
    margin: 0;
    padding: 0;
}

.images {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    max-width: 600px;
    max-height: 400px;
    width: max-content;
    height: max-content;
    margin: 10% auto;
    padding: 10% 0;
}


.video {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0 0 10% 0;
    max-width: 600px;
    max-height: 400px;
    width: max-content;
    height: max-content;
    margin: 0 auto;
}

.horaires-spectacle {
    margin: 2% auto;
}

.UnSpectacle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
    height: auto;
    width: min-content;
    padding: 10px;
}

.UnSpectacle:hover {
    background-color: darkgrey;
}

.admin-action-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    border: aliceblue 2px solid;
    border-radius: 10px;
    background-color: rgb(22, 13, 8);
    height: 20rem;
    width: 20rem;
    margin: auto;
    padding: 0;
}

.admin-link {
    color: white;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-decoration: none;
}

.admin-link:hover {
    color: #066969;
}

.admin-element {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.form-boutton-favoris {
    margin: 5%;
}

.boutton-favoris {
    background: #066969;
    font-size: 1rem;
    color: aliceblue;
    border: #012323 2px solid;
    border-radius: 15px;
    padding: 1rem;
}

.boutton-favoris:hover {
    background: rgba(6, 105, 105, 0.5);
}

.afficher-plus-soirees {
    text-decoration: none;
}

.afficher-plus-soirees:hover {
    opacity: 0.6;
}

.favoris-titre {
    margin: 0 3rem;
}

.aucun-favoris {
    text-align: center;
    font-size: 1rem;
    margin: 22rem 0;
}

.nav-footer {
    border-top: grey 2px solid;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 6rem;
    margin-top: 2rem;
}

footer a {
    text-decoration: none;
}

.imagesspectacle{
    max-height: 600px;
    max-width: 400px;
}

