html {
    margin: 0;
    font-family: Cantarell sans-serif;
    font-weight: 1000;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.91);
    color: aliceblue;
}

.home-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-image: url("../images/image-home.jpg");
}

.home-icon {
    width: 40rem;
    top: 4rem;
    left: 4rem;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
}

@media screen and (max-width: 1080px) {
    .home-icon {
        width: 50%;
        top :3rem;
        left:3rem;
    }
}

.image-home {
    width: 40rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 2rem;
    right: 2rem;
    width: 40rem;
    z-index: 2;
}

.login-button {
    padding: 2%;
    text-decoration: none;
    border: #9e14d2 1px solid;
    background: #9e14d2 ;
    color: aliceblue;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
}

.list-button, .program-button  {
    padding: 2%;
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}

.login-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("../images/image-home.jpg");
    margin: 5% auto;
    height: 53rem;
    width: 98%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: aliceblue 2px solid;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    height: 30rem;
    width: 50rem;
    margin: auto;
}

#email, #password {
    margin: 0 auto 5%;
    height: 2rem;
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: white 2px solid;
    outline: none;
    font-size: 16px;
    color: aliceblue;
}

#submit-button {
    background: white;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    border: 2px solid transparent;
    transition: 0.3s ease;
    width: 50%;
    margin: 0 auto;
}

.login-text {
    color: aliceblue;
    margin: 0 auto 5%;
}

.login-home-button {
    text-decoration: none;
    font-weight: bolder;
    color: aliceblue;
    width: 50%;
    margin: 2% auto;
    text-align: right;
}

.login-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    font-size: 3rem;
}

.login-error-message {
    text-align: center;
    color: red;
}

.error-home-button {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}